body {
    margin: 0;
    background-color: rgb(242, 245, 201);
    user-select: none;
}

#draw-grid-container {
    display: inline-grid;
    background-color: white;
    width: 550px; height: 550px;
    /* justify-content: start; */
    /* gap: 20px; */
}

/* .draw-grid-col {
    height: 31.25px;
} */

.draw-grid-item {
    border-width: 0px;
    /* border-color: black;
    border-style: solid; */
    font-size: 10px;

    height: 100%;
    width: 100%;
}

/* .draw-grid-item:last-child {
    border-style: solid none solid solid;
} */

/* .draw-grid-col:last-child {
    border-width: 2px;
    border-style: none solid none none;
} */

.draw-grid-item:hover {
    background-color: black;
}

#canvas {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#buttons {
    display: flex;
    flex-flow: column;
    padding: 20px;
    gap: 20px;
    border: 2px solid black;
}

#buttons .button {
    border: 1px dashed red;
    padding: 5px;
}

#colour-picker-input {
    padding: 0; border: 0;
    width: 30px; height: 30px;
}

#colour-picker {
    display: flex;
    align-items: center;
    gap: 5px;
}