body {
    margin: 0;
    background-color: rgb(242, 245, 201);
    user-select: none;
}

#draw-grid-container {
    display: inline-grid;
    background-color: white;
    width: 550px; height: 550px;
}

.draw-grid-item {
    border-width: 0px;
    font-size: 10px;

    height: 100%;
    width: 100%;
}

.draw-grid-item:hover {
    background-color: black!important;
}

#canvas {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#buttons {
    display: flex;
    flex-flow: column;
    padding: 20px;
    gap: 20px;
    border: 2px solid black;
}

#buttons .button {
    border: 1px dashed red;
    padding: 5px;
}

#colour-picker-input {
    padding: 0; border: 0;
    width: 30px; height: 30px;
}

#colour-picker {
    display: flex;
    align-items: center;
    gap: 5px;
}